.trelloInfo{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2em;
    padding-top: 4em;

}

.trello{
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/960137/pexels-photo-960137.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    /* You can set other background properties as needed */
    background-size: cover;
    background-position: center;
}

.trelloCard{
    height: 10em;
    width: 15em;
    display: flex;
    color: red;
    background-color: lightgray;
}

.createNewcard{
    display: flex;
    flex-direction: column;
}
